#title {
    text-align: center;
    color: silver;;
}

#nav {
    color: cornflowerblue;
}

nav {
    position: sticky;
    top: 0;
}

footer {
    display: flex;
}

h2 {
    width: 100%;
}

#right {
    text-align: right;
}

